/* Allgemeine Zurücksetzung der Standardstile und Schriften */
body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Hintergrund und Textfarben */
body {
    background-color: #f4f4f4;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

header h1 {
    font-size: 36px;
    transition: color 0.3s; /* Farbübergang für den Titel */
}

/* Navigation */
nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    transition: transform 0.2s; /* Animierter Hover-Effekt für die Navigationselemente */
}

nav ul li:hover {
    transform: scale(1.1); /* Vergrößerung beim Hover */
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s; /* Farbübergang für Links */
}

nav a:hover {
    color: #007bff; /* Farbänderung beim Hover */
}

/* Hauptcontainer */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Überschriften */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    transition: color 0.3s; /* Farbübergang für Überschriften */
}

/* Schaltflächen */
a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

a.button:hover {
    background-color: #007bff; /* Farbänderung beim Hover */
    color: #fff; /* Textfarbe beim Hover */
}

/* Listen */
ul {
    padding-left: 20px;
}

/* Diagrammcontainer */
.chart-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

/* Responsives Design für kleinere Bildschirme */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    nav ul li {
        margin-right: 10px;
    }

    a.button {
        padding: 8px 16px;
    }
}
