{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>{% block title %}Project{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to our Project Site</h1>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>Welcome, <span style="color: rgb(197, 137, 209)">{{ user.username }}</span></li>
                <li><a href="{% url 'energy-list' %}">Home</a></li>  
                <li><a href="{% url 'energy-create' %}">Energy Create</a></li>   
                <li><a href="{% url 'pie-chart' %}">Pie Chart</a></li> 
                <li><a href="{% url 'logout' %}">logout</a></li> 
                {% else %}
                <li><a href="{% url 'login' %}">login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
